header{
    width: 800px;
    margin: 0 auto;
    padding: 50px;
    background-color: #eee;
    border: 1px solid blue;
    border-radius: 10px;
    font-weight: 800px;
    text-align: center;

}
div{
    width: 800px;
    margin: o auto;
    padding: 50px;
    text-align: bold;

}
button:hover{
    background-attachment: black;
    color: white;
    
}